<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.spilgames.chartboost.plugin"
    version="0.1">
    <name>Cordova Chartboost Plugin</name>
    <description>Cordova Chartboost plugin</description>
    <author>Spil Games</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/chartboost.js" name="ChartboostPlugin">
        <clobbers target="Chartboost" />
    </js-module>

    
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ChartboostPlugin" >
                <param name="android-package" value="com.spilgames.chartboost.plugin.ChartboostPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        
        <source-file src="src/android/ChartboostPlugin.java" target-dir="src/com/spilgames/chartboost/plugin" />
        <source-file src="libs/chartboost.jar" target-dir="libs" />

    </platform>

</plugin>