<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.portnou.cordova.plugin.chartboost"
    version="0.4.0">

    <name>Cordova Chartboost Plugin</name>
    <description>Cordova Chartboost plugin. Forked from SpilGames's plugin.</description>
    <keywords>chartboost,ads,monetization,games,ios,android</keywords>
    <repo>https://github.com/alexportnoy/cordova-chartboost-plugin</repo>
    <author>Alexander S Portnoy</author>
    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/chartboost.js" name="ChartboostPlugin">
        <clobbers target="Chartboost" />
    </js-module>

    
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ChartboostPlugin" >
                <param name="android-package" value="com.portnou.cordova.plugin.chartboost.ChartboostPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        
        <source-file src="src/android/ChartboostPlugin.java" target-dir="src/com/portnou/cordova/plugin/chartboost" />
        <source-file src="libs/chartboost.jar" target-dir="libs" />

    </platform>


	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ChartboostPlugin">
				<param name="ios-package" value="ChartboostPlugin"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<!-- phonegap implementation of the plugin -->
		<source-file src="src/ios/Chartboost.m" />
		<framework src="libs/Chartboost.framework" custom="true" />
		<!-- framework dependencies -->
		<framework src="StoreKit.framework" weak="true" />
		<framework src="Foundation.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="UIKit.framework" />
	</platform>
</plugin>